.text-center{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 8px #000000;
}
.container{
    background-color: lightgray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    box-shadow: 10px 10px 5px lightblue;
      
}

.input{
    background-color: rgba(240, 248, 255, 0.433);
    font-weight: bold;
     padding: 24px;
     height: 30px;
}
#clear{
    background-color: rgb(25, 190, 135);
    color: white;
    width: 73px;
    height: 83px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}
#plus{
    background-color: gray;
    color: white;
}
#minus{
    background-color:gray;
    color: white;
    width: 73px;
    height: 83px;
    font-size: large;
    align-items: center;
    font-weight: bold;
    cursor: pointer; 
}
#divide{
    background-color: gray;
    color: white;
    width: 73px;
    height: 84px;
    font-size: large;
    align-items: center;
    font-weight: bold;
    cursor: pointer; 
}
#dot{
    background-color: black;
    color: white;
    width: 73px;
    height: 84px;
    font-size: large;
    align-items: center;
    font-weight: bold;
    cursor: pointer; 
}
#multiple{
    background-color:gray;
    color: white;
    width: 72px;
    height: 84px;
    font-size: large;
    align-items: center;
    font-weight: bold;
    cursor: pointer; 
}
.btn{
    background-color: black;
    color: white;
    align-items: center;
    padding: 30px;
   font-size: large;
   font-weight: bold;
   cursor: pointer; 
}